.nav-ul li:last-child{
    float:none;
    overflow:hidden;
    width: auto;
    margin: 0 0 0 50px;
}
.animated{
    width: 45%;
    -webkit-animation: anim 1s linear forwards;
    animation: anim 3s linear forwards;
}

@-webkit-keyframes anim{
    0% {
        padding: 0 0 0 500px;
        opacity: 0;
    }
    50% {opacity: 0.2; }
    100%{ padding: 0px; }
} /*Remember to add compatibility for IE8 animation and earlier. In -IE8 images use filter: alpha(opacity=40);*/

@keyframes anim{
    0% {
        padding: 0 0 0 500px;
        opacity: 0;
    }
    50% {opacity: 0.2; }
    100%{ padding: 0px; }
}