/*
-----------------------
Language Bar
-----------------------
*/

.language {
    height: 35px;
    background-color: #0097A7;
}

.language li{
    display: inline;
    float:right;
    margin-right: 10px;
    line-height: auto;
    width: 30px;
    text-align: center;
    transition: 0.6s;
}

.language li:hover{
    background-color: white;
}

.language-ul {
    line-height: 35px;
}

.language-selector {
    
    text-decoration: none;
    color: white;
}
.language-selector:hover {
    color: black;
}


/*
-----------------------
Header
-----------------------
*/

#head {
    height:400px;
    width: auto;
    background-color:#0097A7;
    background-image: url(../img/logo-futbot-no-color.png);
    background-repeat: no-repeat;
    background-position: right; 
    transition: 1s;
}

.titulo { 
    width: auto;
    height: 100%;
    font-family: 'Open Sans', serif;
    background-color: rgba(0,0,0,0.15);
    padding-top: 70px;
    padding-left: 100px;
}

.titulo1 {
    color: white;
    font-size: 1.7em;
}

.titulo2 {

    color: white;
    font-size: 1.4em;
}

.titulo3 {
    color: white;
    font-size: 1.3em;
    margin-left: 20px;
}

.super-title {
    font-size: 4.5em;
    font-weight: 400;
    color: white;
}



/*
-----------------------
Footer Bar
-----------------------
*/

.foot {
    /* height: 120px; */
    background-color: #002227;
    background-image: url(../img/logo-futbot-no-color.png);
    background-repeat: no-repeat;
    background-position: 120% 80%;
    background-size: 50%;
    
    
    color:white;
    font-size:0.8em;
    padding-top: 20px;
    
}

.foot li{
    display: inline-block;
}

.foot-text {
    text-align: center;
    clear: both;
}

.logos li{
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    
}

.usb {
    background-image: url(../img/logo-usb.png);
    width: 80px;
    height: 70px;
}

.robocup {
    width: 100px;
    height: 65px;
    background-image: url(../img/logo-robocup.png);
}
.redes-sociales {
    text-align: center;
}
.redes-sociales li{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    width:40px;
    height:40px;  
    margin-right: 10px;
    transition: .2s;
    border-radius: 30%;
}
.redes-sociales li:hover{
    border-radius: 50%;
}
.facebook {
    background-image: url(../img/icon-facebook.png);
    
}
.facebook:hover{
    background-color: #004C63;
}

.twitter {
    background-image: url(../img/icon-twitter.png);
    
}
.twitter:hover{
    background-color: #4AA9D1;
}

.creditos {
    clear:both;
    text-align: center;
}

.logos {
    text-align: center;
}



.futbot {
    width: 100px;
    height: 65px;
    background-image: url(../img/logo_original_futbot.png);
    background-size: contain;
}
