div {
    display: block;
        
}
body {
    font-family: 'Open Sans', serif;
    font-weight: 200;
    font-size:1em;
    margin: 0px;
    padding: 0px;
    min-width: 980px;
}

ul {
    margin: 0px;
    padding: 0px;
    color:white;
}

li {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.box1, .box2, .box3 {
    width: auto;
    height:auto;
    padding: 100px;
    margin-bottom: 30px;
    clear: both;
    
}

.text-h1 {
    color: #00838F;
}

.text-h2 {
    color: #33c6d3;
    margin-left: 15px;    
}
