/*
-----------------------
Main boxes
-----------------------
*/


#box1-img, #box2-img, #box3-img {
	background-image:url(../img/stock/stock2.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
	color: white;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}

#box1-img{
    background-image:url(../img/lab/lab3.jpg);
    background-size: 100%;
    background-position: 50% 80%;
    
}


#box2-img{
    background-image:url(../img/robocupSSL2.jpg);
    background-size: 125%;
}

#box3-img{
    background-image:url(../img/lab/lab2.jpg);
    background-size: 125%;
}

.box2{
    background-image: url(../img/logo-robocup-transparencia.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 85% 50%;
    
    
}
/*
--------------------------
Responsive design 
--------------------------
*/
@media (min-width: 1000px) {
  #box2-img{
    background-image:url(../img/robocupSSL.jpg);
      height: 600px;
     
}

.center {
    text-align: center;   
    
}
    
}
.box-container {
    width: 70%;
}



.patrocinante {
width: 200px;
    
}
.patrocinante img{
    width: 200px;
}
