#box1-img{
    background:url(../img/usb.jpg) no-repeat;
    background-size: cover;
    background-position: center;
	color: white;
	height: 700px;
    width: auto;
	margin: 0 auto;
	padding: 0;
}

#box2-img{
    height: 150px;
    background-image: url(../img/decoration.png);
    background-color: #00838F;
}


#box3-img{
    height: 150px;
    background-image: url(../img/decoration.png);
    background-color: #333333;
}


.enfoque{
    font-weight: 500;
    font-size: 1.2em;
    color: #00838F;
}
.integrantes-box {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 450px;
    height: 150px;
    padding:10px;
    float: left;
}

.integrantes-wraper {
    padding: 100px;
    display: inline-block;
    z-index: 99;
}

.integrantes-img {
    height: 120px;
    width: 120px;
    float: left;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.integrantes-img:before{
    display: inline-block;
    content: " ";
    height: 120px;
    width: 120px;
    background-image: url(../img/logo-engranaje.png);
    background-color: #434B41;
    opacity: 0;
    transition: .4s;
    background-position: left;
    background-size: 150%;
    border-radius: 50%;
}
.integrantes-img:hover:before{
    opacity: 1;
    background-position: right;
}

#nicolas {
    background-image: url(../img/stock/cage.jpg);
}

.integrantes-text {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 300px;
    font-size: 1em;
}

.integrantes-nombre {
    font-weight: 350;
    font-size: 1.5em;
}

.integrantes-carrera {
    font-size: 1.2em;
    
    
}

.integrantes-posicion {
    font-size: 1.2em;
    color: #808080;
}
